<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

@{
    ViewBag.Title = "Kontrollpanel";
}
<form>
    <h1>Kontrollpanel</h1>

    <p style="font-size:125%" ;>
        Velkommen til kontrollpanelet <b>@Session["brukernavn"]</b>. <br /> Her kan du velge hva du ønsker å gjøre videre:
    </p>
    <br />

    <a href="RegistrerBruker"><input type="button" value="Registrer en ny bruker" class="btn btn-info" ></a> |
    <a href="/Bruker/listBrukere"><input type="button" value="Se alle registrerte brukere" class="btn btn-info" /></a><br /><br />
    <a href="/Bestilling/regAvgang"><input type="button" value="Registrer en ny avgang" class="btn btn-info" /></a> |
    <a href="/Bestilling/listAvganger"><input type="button" value="Se alle avganger" class="btn btn-info" /></a>  <br /><br />
    <a href="/Bestilling/registreralleavgangstid"><input type="button" value="Registrer en ny avgangstid" class="btn btn-info" /></a> |
    <a href="/Bestilling/listAlleavgangstider"><input type="button" value="Se alle avgangstider" class="btn btn-info" /></a>  <br /><br />
    <a href="/Bestilling/registrerVisAvgang"><input type="button" value="Registrer en ny avgang + detaljer" class="btn btn-info" /></a> |
    <a href="/Bestilling/listVisAvganger"><input type="button" value="Se alle avganger + detaljer" class="btn btn-info" /></a>  <br /><br />
    <a href="/Bestilling/listBestillinger"><input type="button" value="Se alle bestillinger" class="btn btn-info" /></a>  <br /><br />
    <input type="submit" value="Logg deg ut" formaction="LoggUt" class="btn btn-danger" />

</form>