@model IEnumerable<Model.adminBruker>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

@{
    ViewBag.Title = "List registrerte brukere";
}

<h2>Alle registrerte brukere</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.brukernavn)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.brukernavn)
            </td>
        </tr>
    }

</table>

<a href="/Bruker/RegistrerBruker"><input type="button" value="Gå til registrering av ny bruker" class="btn btn-info" /></a> |
<a href="/Bruker/Kontrollpanel"><input type="button" value="Tilbake til kontrollpanel" class="btn btn-primary" /></a>
