@model IEnumerable<Oblig1WebApp.Models.adminBruker>

@{
    ViewBag.Title = "List registrerte brukere";
}

<h2>Alle regisrterte brukere</h2>

<p>
    @Html.ActionLink("Lag en ny bruker", "/Bruker/RegistrerBruker")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.brukernavn)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.brukernavn)
            </td>
            <td>
                @Html.ActionLink("Slett", "/Bruker/slettBruker", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>

<a href="/Bruker/Kontrollpanel"><input type="button" value="Tilbake til kontrollpanel" class="btn btn-primary" /></a>
