<!DOCTYPE html>

<html>
<head>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="icon" href="favicon.ico" type="image/ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dynamikk test</title>
    <script src="~/Scripts/jquery-1.8.0.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- For utreise og retur datoer (vise/skjule) -->
    <script>
        $(document).ready(function () {
            $("#retur").hide();
            $("#turRetur").click(function () {
                $("#retur").show();
            });

            $("#enVei").click(function () {
                $("#retur").hide();
            });
        });

        $(document).ready(function () {
            $('[data-toggle="popover"]').popover({ html: true });
        });
    </script>

    <!-- For å vise utreiseinformasjon nederst på siden -->
    <script>
        $(document).ready(function () {

        });
    </script>

    <!-- Ajax for første avgang -->
    <script type="text/javascript">
        $(function () {

            // Kaller på hentAlleAvganger og bygger opp dropdown-liste når siden lastes
            $.ajax({
                url: '/Avgang/hentAlleAvganger',
                type: 'GET',
                dataType: 'json',
                success: function (jsAvgang) {
                    VisDropDownForste(jsAvgang);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });

            // Oppretter en hendelse på dropdown-listen når siden lastes
            $("#dropForste").change(function () {
                var id = $(this).val();
                $.ajax({
                    url: '/Avgang/hentAvgangInfo/' + id,
                    type: 'GET',
                    dataType: 'json',
                    success: function (Avgang) {
                        VisInfoForste(Avgang);
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            });

            // Oppretter en hendelse som kjøres når registreringsknappen trykkes
            $("#registrer").click(function () {

                // Bygger et js objekt fra dropdown feltene "Reise fra" og "Reise til"
                var jsInnForste = {
                    forsteAvgang: $('#fraLokasjon :selected').text()
                }

                $.ajax({
                    url: '/Avgang/registrerAvgang',
                    type: 'POST',
                    data: JSON.stringify(jsInnForste),
                    contentType: "application/json;charset=utf-8",
                    success: function (ok) {
                        // Legg inn feilhåndtering dersom feil i registrering
                        window.location.reload();
                        // Reloader vinduet etter at kallet har returnert
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            })
        })

        // Setter forsteAvgang inn i select
        function VisDropDownForste(jsAvgang) {
            var utStreng = "";
            for (var i in jsAvgang) {
                utStreng += "<option value='" + jsAvgang[i].id + "'>" + jsAvgang[i].forsteAvgang + "</option>";
            }
            $("#dropForste").append(utStreng);
        }

        // Viser forste avgang
        function VisInfoForste(Avgang) {
            var utStreng = Avgang.forsteAvgang;
            $("#visInfoForste").html(utStreng);
        }

    </script>

    <!-- Ajax for siste avgang -->
    <script type="text/javascript">
        $(function () {

            // Kaller på hentAlleAvganger og bygger opp dropdown-liste når siden lastes
            $.ajax({
                url: '/Avgang/hentAlleAvganger',
                type: 'GET',
                dataType: 'json',
                success: function (jsAvgang) {
                    VisDropDownSiste(jsAvgang);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });

            // Oppretter en hendelse på dropdown-listen når siden lastes
            $("#dropSiste").change(function () {
                var id = $(this).val();
                $.ajax({
                    url: '/Avgang/hentAvgangInfo/' + id,
                    type: 'GET',
                    dataType: 'json',
                    success: function (Avgang) {
                        VisInfoSiste(Avgang);
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            });

            // Oppretter en hendelse som kjøres når registreringsknappen trykkes
            $("#registrer").click(function () {

                // Bygger et js objekt fra dropdown feltene "Reise fra" og "Reise til"
                var jsInnSiste = {
                    sisteAvgang: $('#tilLokasjon :selected').text()
                }

                $.ajax({
                    url: '/Avgang/registrerAvgang',
                    type: 'POST',
                    data: JSON.stringify(jsInnSiste),
                    contentType: "application/json;charset=utf-8",
                    success: function (ok) {
                        // Legg inn feilhåndtering dersom feil i registrering
                        window.location.reload();
                        // Reloader vinduet etter at kallet har returnert
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            })
        })

        // Setter sisteAvgang inn i select
        function VisDropDownSiste(jsAvgang) {
            var utStreng = "";
            for (var i in jsAvgang) {
                utStreng += "<option value='" + jsAvgang[i].id + "'>" + jsAvgang[i].sisteAvgang + "</option>";
            }
            $("#dropSiste").append(utStreng);
        }

        // Viser siste avgang
        function VisInfoSiste(Avgang) {
            var utStreng = Avgang.sisteAvgang;
            $("#visInfoSiste").html(utStreng);
        }

    </script>
</head>
<body>
    <h1>Hei, hvor har du lyst til å reise?</h1>
    <br />

    <form action="/Avgang/DynamikkView" method="post">
        <table class="borderless">
            <tr>
                <td width="20%">
                    <b>Reise fra</b>
                    <select name="fraLokasjon" id="dropForste" class="form-control">
                        <option selected="selected" hidden>-- Velg Utreise --</option>
                    </select>
                </td>
                <td width="20%">
                    <b>Reise til</b>
                    <select name="tilLokasjon" id="dropSiste" class="form-control">
                        <option selected="selected" hidden>-- Velg Retur --</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td width="20%">
                    <br />
                    <b>Type billett</b><br />
                    <input type="radio" name="typeBillett" id="enVei" value="EnVei" checked> En vei<br>
                    <input type="radio" name="typeBillett" id="turRetur" value="TurRetur"> Tur/Retur
                </td>
            </tr>
            <tr>
                <td width="20%">
                    <br />
                    <b>Utreise</b>
                    <br />
                    <input type="date" id="dato" name="dato" class="form-control">
                </td>
                <td width="20%">
                    <br />
                    <b>Tid</b>
                    <br />
                    <select name="tid" id="tid" class="form-control">
                        <option value="00:00">00:00</option>
                        <option value="01:00">01:00</option>
                        <option value="02:00">02:00</option>
                        <option value="03:00">03:00</option>
                        <option value="04:00">04:00</option>
                        <option value="05:00">05:00</option>
                        <option value="06:00">06:00</option>
                        <option value="07:00">07:00</option>
                        <option value="08:00">08:00</option>
                        <option value="09:00">09:00</option>
                        <option value="10:00">10:00</option>
                        <option value="11:00">11:00</option>
                        <option value="12:00">12:00</option>
                        <option value="13:00">13:00</option>
                        <option value="14:00">14:00</option>
                        <option value="15:00">15:00</option>
                        <option value="16:00">16:00</option>
                        <option value="17:00">17:00</option>
                        <option value="18:00">18:00</option>
                        <option value="19:00">19:00</option>
                        <option value="20:00">20:00</option>
                        <option value="21:00">21:00</option>
                        <option value="22:00">22:00</option>
                        <option value="23:00">23:00</option>
                    </select>
                </td>
            </tr>
            <tr id="retur">
                <td width="20%">
                    <br />
                    <b>Retur</b>
                    <br />
                    <input type="date" id="dato" name="dato" class="form-control">
                </td>
                <td width="20%">
                    <br />
                    <b>Tid</b>
                    <br />
                    <select name="tid" id="tid" class="form-control">
                        <option value="00:00">00:00</option>
                        <option value="01:00">01:00</option>
                        <option value="02:00">02:00</option>
                        <option value="03:00">03:00</option>
                        <option value="04:00">04:00</option>
                        <option value="05:00">05:00</option>
                        <option value="06:00">06:00</option>
                        <option value="07:00">07:00</option>
                        <option value="08:00">08:00</option>
                        <option value="09:00">09:00</option>
                        <option value="10:00">10:00</option>
                        <option value="11:00">11:00</option>
                        <option value="12:00">12:00</option>
                        <option value="13:00">13:00</option>
                        <option value="14:00">14:00</option>
                        <option value="15:00">15:00</option>
                        <option value="16:00">16:00</option>
                        <option value="17:00">17:00</option>
                        <option value="18:00">18:00</option>
                        <option value="19:00">19:00</option>
                        <option value="20:00">20:00</option>
                        <option value="21:00">21:00</option>
                        <option value="22:00">22:00</option>
                        <option value="23:00">23:00</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td width="20%">
                    <br />
                    <b>Reisende </b>
                    <br />
                    <p> <input type="number" name="voksen" style="border: 0px; width: 2em" value="0" min="0" max="9" /> Voksen <a href="#" data-toggle="popover" data-content="Ordinær bilett for reisende over 18 år. <a href='https://www.vy.no/alt-om-reisen/tog/billetter'>Les mer her</a>">&#9432;</a> <br></p>
                    <p> <input type="number" name="barn0_5" style="border: 0px; width: 2em" value="0" min="0" max="9" /> Barn 0-5 år <a href="#" data-toggle="popover" data-content="Barn under 6 år reiser gratis med tog, og får 90 prosent rabatt på bussbilletter. <a href='https://www.vy.no/alt-om-reisen/tog/billetter/rabatter'>Les mer her</a>">&#9432;</a><br></p>
                    <p> <input type="number" name="student" style="border: 0px; width: 2em" value="0" min="0" max="9" /> Student <a href="#" data-toggle="popover" data-content="Studenter får 25 prosent rabatt på togbilletter. På buss får studenter samme rabatt som ungdom uavhengig av alder. Rabattene forutsetter legitimasjon og bekreftelse for betalt semesteravgift. <a href='https://www.vy.no/alt-om-reisen/tog/billetter/rabatter'>Les mer her</a>">&#9432;</a><br> </p>
                    <p> <input type="number" name="honnør" style="border: 0px; width: 2em" value="0" min="0" max="9" /> Honnør <a href="#" data-toggle="popover" data-content="Reisende som er over 67 år, uføretrygdet eller ledsager for blind, får 50 prosent rabatt på togbilletter og en rabatt på bussbilletter. <a href='https://www.vy.no/alt-om-reisen/tog/billetter/rabatter'>Les mer her</a>">&#9432;</a><br> </p>
                    <p> <input type="number" name="barn6_17" style="border: 0px; width: 2em" value="0" min="0" max="9" /> Barn 6-17 år <a href="#" data-toggle="popover" data-content="Barn fra 6 til og med 17 år får 50 prosent rabatt på togbilletter og en rabatt på bussbilletter. <a href='https://www.vy.no/alt-om-reisen/tog/billetter/rabatter'>Les mer her</a>">&#9432;</a><br> </p>
                    <p> <input type="number" name="vernepliktig" style="border: 0px; width: 2em" value="0" min="0" max="9" /> Vernepliktig <a href="#" data-toggle="popover" data-content="Vernepliktige får 90 prosent rabatt på togbilletter. Rabatten forutsetter gyldig vernepliktskort ved billettkontroll. For buss gjelder rabatten kun på strekningen Oslo-Elverum. Denne billetten kjøpes på nettbuss.no med kampanjekoden UNIFORM. <a href='https://www.vy.no/alt-om-reisen/tog/billetter/rabatter'>Les mer her</a>">&#9432;</a><br> </p>
                </td>
            </tr>
        </table>
        <br />
        <b>Spesielle behov</b><br />
        <input type="checkbox" name="sykkel" value="sykkel"> Sykkel <a href="#" data-toggle="popover" data-content="Du må reservere plass til sykkel på alle lange regionstrekninger og på Gjøvikbanen. Skal du ha med sykkelvogn på toget, må du bestille plass via kundesenteret. Sykkelplass på buss må du forhåndsbestille når du kjøper billett på nettbuss.no. <a href='https://www.vy.no/alt-om-reisen/tog/praktisk-informasjon/sykkel-pa-toget'>Les mer her</a>">&#9432;</a><br />
        <input type="checkbox" name="hundover_40cm" value="hundover40"> Hund over 40cm <a href="#" data-toggle="popover" data-content="Hunder med skulderhøyde over 40 cm får 50 prosent rabatt på togbilletter. På buss er dyr kun tillatt på strekningene NX1 Notodden-Oslo, NX3 Sarpsborg-Oslo og NX6 Hvaler-Oslo. <a href='https://www.vy.no/kundeservice/sporsmal-og-svar/bagasje-og-spesielle-behov'>Les mer her</a>">&#9432;</a><br>
        <input type="checkbox" name="kjaeledyrunder_40cm" value="kjaeledyrunder40"> Kjæledyr under 40 cm <a href="#" data-toggle="popover" data-content="Kjæledyr med skulderhøyde under 40 cm reiser gratis med toget. På buss er dyr kun tillatt på strekningene NX1 Notodden-Oslo, NX3 Sarpsborg-Oslo og NX6 Hvaler-Oslo. <a href='https://www.vy.no/kundeservice/sporsmal-og-svar/bagasje-og-spesielle-behov'>Les mer her</a>">&#9432;</a><br>
        <input type="checkbox" name="barnevogn" value="barnevogn"> Barnevogn <a href="#" data-toggle="popover" data-content="Det er gratis å ta med barnevogn på tog og buss, forutsatt at det er nok plass. Det er barnevognplasser i alle tog. For tog med plassreservering, må du bestille plass på forhånd. <a href='https://www.vy.no/alt-om-reisen/tog/praktisk-informasjon/sykkel-pa-toget'>Les mer her</a>">&#9432;</a><br>
        <input type="radio" value="ingen"> Ingen spesielle behov <br>
        <br>
        <p><b>Rullestol på tog - </b>Alle nyere tog er tilrettelagt for rullestolbrukere. Vennligst kjøp billett via kundesenteret.</p>
        <p><b>Rullestol på buss - </b>Reisende med nedsatt funksjonsevne har rett til å reise med Nettbuss så langt det er praktisk mulig. Vennligst kjøp billett på bussen.</p>
        <br />

        <div id="valgtReise">
            <h4> <u> <b>Reisen du har valgt:</b> </u> </h4>
            Fra lokasjon:<b> <p id="visInfoForste"></p> </b>
            Til lokasjon:<b> <p id="visInfoSiste"></p> </b>
            Reisende:<b> <p id="reisende"></p> </b>
            Tidspunkt:<b> <p id="tidspunkt"></p> </b>
        </div>

        <input type="submit" value="Se avganger" name="avganger og priser" class="btn btn-success" />
    </form>
</body>
</html>