@model Oblig1WebApp.Models.Bestilling

@{
    ViewBag.Title = "Vy | Kjøp togbillett | Rutetider og billettpriser | vy.no";
}
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <script>
            $(document).ready(function () {
                $('[data-toggle="popover"]').popover({ html: true });
            });

            $("#spinner").spinner()({
                max: 50
            });

        </script>
    </head>
    
    <body>
        <h2>Hei, hvor har du lyst til å reise?</h2>

        <form action="/Bestilling/Avganger" method="post">
            <table class="borderless">
                <tr>
                    <td width="20%">
                        <b>Reise fra</b>
                        <select name="reiseFra" class="form-control">
                            <option value="Ski">Ski</option>
                            <option value="Langhus">Langhus</option>
                            <option value="Vevelstad">Vevelstad</option>
                            <option value="Oppegård">Oppegård</option>
                            <option value="Greverud">Greverud</option>
                            <option value="Myrvoll">Myrvoll</option>
                            <option value="Solbraatan">Solbråtan</option>
                            <option value="Kolbotn">Kolbotn</option>
                            <option value="Rosenholm">Rosenholm</option>
                            <option value="Holmlia">Holmlia</option>
                            <option value="Hauketo">Hauketo</option>
                            <option value="Ljan">Ljan</option>
                            <option value="Nordstrand">Nordstrand</option>
                            <option value="Oslo S">Oslo S</option>
                            <option value="Nationaltheateret">Nationaltheateret</option>
                            <option value="Skoeyen">Skøyen</option>
                            <option value="Lysaker">Lysaker</option>
                            <option value="Stabekk">Stabekk</option>
                        </select>
                    </td>
                    <td width="20%">
                        <b>Reise til</b>
                        <select name="reiseTil" class="form-control">
                            <option value="Stabekk">Stabekk</option>
                            <option value="Lysaker">Lysaker</option>
                            <option value="Skoeyen">Skøyen</option>
                            <option value="Nationaltheateret">Nationaltheateret</option>
                            <option value="Oslo S">Oslo S</option>
                            <option value="Nordstrand">Nordstrand</option>
                            <option value="Ljan">Ljan</option>
                            <option value="Hauketo">Hauketo</option>
                            <option value="Holmlia">Holmlia</option>
                            <option value="Rosenholm">Rosenholm</option>
                            <option value="Kolbotn">Kolbotn</option>
                            <option value="Solbraatan">Solbråtan</option>
                            <option value="Myrvoll">Myrvoll</option>
                            <option value="Greverud">Greverud</option>
                            <option value="Oppegård">Oppegård</option>
                            <option value="Vevelstad">Vevelstad</option>
                            <option value="Langhus">Langhus</option>
                            <option value="Ski">Ski</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <br />
                        <b>Type billett</b><br />
                        <input type="radio" name="typeBillett" value="EnVei"> En vei<br>
                        <input type="radio" name="typeBillett" value="TurRetur"> Tur/Retur
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <br />
                        <b>Utreise</b>
                        <br />
                        <input type="date" name="dato">
                    </td>
                    <td width="20%">
                        <b>Tid</b>
                        <br />
                        <select name="tid" class="form-control">
                            <option value="00:00">00:00</option>
                            <option value="01:00">01:00</option>
                            <option value="02:00">02:00</option>
                            <option value="03:00">03:00</option>
                            <option value="04:00">04:00</option>
                            <option value="05:00">05:00</option>
                            <option value="06:00">06:00</option>
                            <option value="07:00">07:00</option>
                            <option value="08:00">08:00</option>
                            <option value="09:00">09:00</option>
                            <option value="10:00">10:00</option>
                            <option value="11:00">11:00</option>
                            <option value="12:00">12:00</option>
                            <option value="13:00">13:00</option>
                            <option value="14:00">14:00</option>
                            <option value="15:00">15:00</option>
                            <option value="16:00">16:00</option>
                            <option value="17:00">17:00</option>
                            <option value="18:00">18:00</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="21:00">21:00</option>
                            <option value="22:00">22:00</option>
                            <option value="23:00">23:00</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <br />
                        <b>Reisende </b>
                        <br />
                        <input type="number" border-width="0px" style="width: 3em" value="0" min="0" max="9" />
                        <input type="checkbox" name="typeReisende" value="Voksen"> Voksen <a href="#" data-toggle="popover" data-content="Ordinær bilett for reisende over 18 år. <a href='https://www.vy.no/alt-om-reisen/tog/billetter'>Les mer her</a>">&#9432;</a> <br>
                        <input type="number" style="width: 3em" value="0" min="0" max="9" />
                        <input type="checkbox" name="typeReisende" value="Barn0til5"> Barn 0-5 år <a href="#" data-toggle="popover" data-content="Barn under 6 år reiser gratis med tog, og får 90 prosent rabatt på bussbilletter. <a href='https://www.vy.no/alt-om-reisen/tog/billetter/rabatter'>Les mer her</a>">&#9432;</a><br>
                        <input type="number" style="width: 3em" value="0" min="0" max="9" />
                        <input type="checkbox" name="typeReisende" value="Student"> Student <a href="#" data-toggle="popover" data-content="Studenter får 25 prosent rabatt på togbilletter. På buss får studenter samme rabatt som ungdom uavhengig av alder. Rabattene forutsetter legitimasjon og bekreftelse for betalt semesteravgift. <a href='https://www.vy.no/alt-om-reisen/tog/billetter/rabatter'>Les mer her</a>">&#9432;</a><br>
                        <input type="number" style="width: 3em" value="0" min="0" max="9" />
                        <input type="checkbox" name="typeReisende" value="Honnør"> Honnør <a href="#" data-toggle="popover" data-content="Reisende som er over 67 år, uføretrygdet eller ledsager for blind, får 50 prosent rabatt på togbilletter og en rabatt på bussbilletter. <a href='https://www.vy.no/alt-om-reisen/tog/billetter/rabatter'>Les mer her</a>">&#9432;</a><br>
                        <input type="number" style="width: 3em" value="0" min="0" max="9" />
                        <input type="checkbox" name="typeReisende" value="Barn6til17"> Barn 6-17 år <a href="#" data-toggle="popover" data-content="Barn fra 6 til og med 17 år får 50 prosent rabatt på togbilletter og en rabatt på bussbilletter. <a href='https://www.vy.no/alt-om-reisen/tog/billetter/rabatter'>Les mer her</a>">&#9432;</a><br>
                        <input type="number" style="width: 3em" value="0" min="0" max="9" />
                        <input type="checkbox" name="typeReisende" value="Vernepliktig"> Vernepliktig <a href="#" data-toggle="popover" data-content="Vernepliktige får 90 prosent rabatt på togbilletter. Rabatten forutsetter gyldig vernepliktskort ved billettkontroll. For buss gjelder rabatten kun på strekningen Oslo-Elverum. Denne billetten kjøpes på nettbuss.no med kampanjekoden UNIFORM. <a href='https://www.vy.no/alt-om-reisen/tog/billetter/rabatter'>Les mer her</a>">&#9432;</a><br>
                    </td>
                </tr>
            </table>
            <br />
            <b>Spesielle behov</b><br />
            <input type="number" id="spinner" name="value" style="width: 3em" value="0" min="0" max="9" />
            <input type="radio" name="spesialBehov" value="sykkel"> Sykkel <a href="#" data-toggle="popover" data-content="Du må reservere plass til sykkel på alle lange regionstrekninger og på Gjøvikbanen. Skal du ha med sykkelvogn på toget, må du bestille plass via kundesenteret. Sykkelplass på buss må du forhåndsbestille når du kjøper billett på nettbuss.no. <a href='https://www.vy.no/alt-om-reisen/tog/praktisk-informasjon/sykkel-pa-toget'>Les mer her</a>">&#9432;</a>
            <br>

            <input type="number" style="width: 3em" value="0" min="0" max="9" />
            <input type="radio" name="spesialBehov" value="hundover40"> Hund over 40cm <a href="#" data-toggle="popover" data-content="Hunder med skulderhøyde over 40 cm får 50 prosent rabatt på togbilletter. På buss er dyr kun tillatt på strekningene NX1 Notodden-Oslo, NX3 Sarpsborg-Oslo og NX6 Hvaler-Oslo. <a href='https://www.vy.no/kundeservice/sporsmal-og-svar/bagasje-og-spesielle-behov'>Les mer her</a>">&#9432;</a><br>
            <input type="number" style="width: 3em" value="0" min="0" max="9" />
            <input type="radio" name="spesialBehov" value="kjaeledyrunder40"> Kjæledyr under 40 cm <a href="#" data-toggle="popover" data-content="Kjæledyr med skulderhøyde under 40 cm reiser gratis med toget. På buss er dyr kun tillatt på strekningene NX1 Notodden-Oslo, NX3 Sarpsborg-Oslo og NX6 Hvaler-Oslo. <a href='https://www.vy.no/kundeservice/sporsmal-og-svar/bagasje-og-spesielle-behov'>Les mer her</a>">&#9432;</a><br>
            <input type="number" style="width: 3em" value="0" min="0" max="9" />
            <input type="radio" name="spesialBehov" value="barnevogn"> Barnevogn <a href="#" data-toggle="popover" data-content="Det er gratis å ta med barnevogn på tog og buss, forutsatt at det er nok plass. Det er barnevognplasser i alle tog. For tog med plassreservering, må du bestille plass på forhånd. <a href='https://www.vy.no/alt-om-reisen/tog/praktisk-informasjon/sykkel-pa-toget'>Les mer her</a>">&#9432;</a><br>
            <input type="radio" name="spesialBehov" value="ingen"> Ingen spesielle behov <br>
            <br>
            <p><b>Rullestol på tog - </b>Alle nyere tog er tilrettelagt for rullestolbrukere. Vennligst kjøp billett via kundesenteret.</p>
            <p><b>Rullestol på buss - </b>Reisende med nedsatt funksjonsevne har rett til å reise med Nettbuss så langt det er praktisk mulig. Vennligst kjøp billett på bussen.</p>

            <input type="submit" value="Se avganger" name="avgangerOgPriser" class="btn btn-primary" />
        </form>
    </body>
    </html>