@using Model

    <head>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link rel="icon" href="favicon.ico" type="image/ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <script type="text/javascript">
            // Ajax for første avgang
            $(function () {
                // Kaller på hentAlleAvganger og bygger opp dropdown-liste når siden lastes
                $.ajax({
                    url: '/Avgang/hentAlleAvganger',
                    type: 'GET',
                    dataType: 'json',
                    success: function (jsAvgang) {
                        VisDropDownForste(jsAvgang);
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });

                // Oppretter en hendelse på dropdown-listen når siden lastes
                $("#dropForste").change(function () {
                    var id = $(this).val();
                    $.ajax({
                        url: '/Avgang/hentAvgangInfo/' + id,
                        type: 'GET',
                        dataType: 'json',
                        success: function (Avgang) {
                            VisInfoForste(Avgang);
                        },
                        error: function (x, y, z) {
                            alert(x + '\n' + y + '\n' + z);
                        }
                    });
                });
            })

            // Setter forsteAvgang inn i select
            function VisDropDownForste(jsAvgang) {
                var utStreng = "";
                for (var i in jsAvgang) {
                    utStreng += "<option value='" + jsAvgang[i].id + "'>" + jsAvgang[i]._forsteAvgang + "</option>";
                }
                $("#dropForste").append(utStreng);
            }

            // Viser forste avgang
            function VisInfoForste(Avgang) {
                var utStreng = Avgang._forsteAvgang;
                $("#visInfoForste").html(utStreng);
            }


            // Ajax for siste avgang
            $(function () {
                // Kaller på hentAlleAvganger og bygger opp dropdown-liste når siden lastes
                $.ajax({
                    url: '/Avgang/hentAlleAvganger',
                    type: 'GET',
                    dataType: 'json',
                    success: function (jsAvgang) {
                        VisDropDownSiste(jsAvgang);
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });

                // Oppretter en hendelse på dropdown-listen når siden lastes
                $("#dropSiste").change(function () {
                    var id = $(this).val();
                    $.ajax({
                        url: '/Avgang/hentAvgangInfo/' + id,
                        type: 'GET',
                        dataType: 'json',
                        success: function (Avgang) {
                            VisInfoSiste(Avgang);
                        },
                        error: function (x, y, z) {
                            alert(x + '\n' + y + '\n' + z);
                        }
                    });
                });
            })

            // Setter sisteAvgang inn i select
            function VisDropDownSiste(jsAvgang) {
                var utStreng = "";
                for (var i in jsAvgang) {
                    utStreng += "<option value='" + jsAvgang[i].id + "'>" + jsAvgang[i]._sisteAvgang + "</option>";
                }
                $("#dropSiste").append(utStreng);
            }

            // Viser siste avgang
            function VisInfoSiste(Avgang) {
                var utStreng = Avgang._sisteAvgang;
                $("#visInfoSiste").html(utStreng);
            }
        </script>

        <script>
            //Validering - klient
            $(document).ready(function () {
                $("#regBestilling").click(function (evt) {
                    var dropForste = document.getElementById('dropForste').value;
                    var dropSiste = document.getElementById('dropSiste').value;
                    var dato = document.getElementById('datoUtreise').value;
                    var returDato = document.getElementById('datoRetur').value;
                    var voksenValidering = document.getElementById('voksen').value;
                    var barn0_5Validering = document.getElementById('barn0_5').value;
                    var studentValidering = document.getElementById('student').value;
                    var honnoerValidering = document.getElementById('honnoer').value;
                    var vernepliktigValidering = document.getElementById('vernepliktig').value;
                    var barn6_17Validering = document.getElementById('barn6_17').value;

                    var today = new Date();
                    var dateSjekk = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();

                    datoKonvertert = new Date(dato);
                    var konvertertDato = datoKonvertert.getFullYear() + '-' + (datoKonvertert.getMonth() + 1) + '-' + datoKonvertert.getDate();

                    returDatoKonvertert = new Date(returDato);
                    var konvertertReturDato = returDatoKonvertert.getFullYear() + '-' + (returDatoKonvertert.getMonth() + 1) + '-' + returDatoKonvertert.getDate();

                    alert(compare_dates(dateSjekk, konvertertDato));


                    if (dropForste.length == 0) {
                        evt.preventDefault()
                        document.getElementById("forsteAvgangValidering").innerHTML = "*Vennligst velg hvor du ønsker å reise fra*";
                        document.getElementById("forsteAvgangValidering").style.color = "red";

                        $("#dropForste").on('change', function () {
                            var ok = "";
                            $("#forsteAvgangValidering").html(ok);
                        });
                    }

                    if (dropSiste.length == 0) {
                        evt.preventDefault()
                        document.getElementById("sisteAvgangValidering").innerHTML = "*Vennligst velg hvor du ønsker å reise til*";
                        document.getElementById("sisteAvgangValidering").style.color = "red";

                        $("#dropSiste").on('change', function () {
                            var ok = "";
                            $("#sisteAvgangValidering").html(ok);
                        });
                    }

                    if (dato.length == 0) {
                        evt.preventDefault()
                        document.getElementById("datoValidering").innerHTML = "*Vennligst velg hvilke dato du ønsker å reise*";
                        document.getElementById("datoValidering").style.color = "red";

                        $("#datoUtreise").on('change', function () {
                            //Denne if'en fungerer ikke
                            if (Date.parse(konvertertDato) < Date.parse(dateSjekk)) {
                                alert("test");
                                evt.preventDefault()
                                document.getElementById("datoValidering").innerHTML = "*Du kan ikke velge dato mindre enn per dags dato*";
                                document.getElementById("datoValidering").style.color = "red";

                            } else {
                                var ok = "";
                                $("#datoValidering").html(ok);
                            }
                        });
                    } else if (konvertertDato >= dateSjekk || konvertertDato <= dateSjekk) {
                        $("#datoUtreise").on('change', function () {
                            if (konvertertDato < dateSjekk) {
                                evt.preventDefault()
                                document.getElementById("datoValidering").innerHTML = "*Du kan ikke velge dato mindre enn per dags dato*";
                                document.getElementById("datoValidering").style.color = "red";
                            } else {
                                var ok = "";
                                $("#datoValidering").html(ok);
                            }
                        });
                    }

                    //Sjekker om en billett er valgt
                    if (voksenValidering == 0 && studentValidering == 0 && barn0_5Validering == 00 && honnoerValidering == 0 && vernepliktigValidering == 00 && barn6_17Validering == 00) {
                        document.getElementById("billettValidering").innerHTML = "*Ingen billett valgt! Du er nødt til å velge en type billett*";
                        document.getElementById("billettValidering").style.color = "red";

                        $("#reisende").on('change', function () {
                            var ok = "";
                            $("#billettValidering").html(ok);
                        });
                    }

                    //Validering av returDato
                    if (document.getElementById("turRetur").checked == true) {
                        if (returDato.length == 0) {
                            evt.preventDefault()
                            document.getElementById("returDatoValidering").innerHTML = "*Vennligst velg hvilke dato du ønsker å returnere*";
                            document.getElementById("returDatoValidering").style.color = "red";

                            $("#datoUtreise").on('change', function () {
                                if (returDatoKonvertert > dateSjekk) {
                                    var ok = "";
                                    $("#returDatoValidering").html(ok);
                                } else if (returDatoKonvertert < dateSjekk) {
                                    evt.preventDefault()
                                    document.getElementById("returDatoValidering").innerHTML = "*Du kan ikke velge retur dato mindre enn per dags dato*";
                                    document.getElementById("returDatoValidering").style.color = "red";
                                }
                            });
                        } else if (konvertertReturDato >= dateSjekk || konvertertReturDato <= dateSjekk) {
                            $("#returDatoValidering").on('change', function () {
                                if (konvertertReturDato >= dateSjekk) {
                                    var ok = "";
                                    $("#returDatoValidering").html(ok);
                                } else if (konvertertReturDato < dateSjekk) {
                                    evt.preventDefault()
                                    document.getElementById("returDatoValidering").innerHTML = "*Du kan ikke velge retur dato mindre enn per dags dato*";
                                    document.getElementById("returDatoValidering").style.color = "red";
                                }
                            });
                        }
                    }
                });
            });
        </script>

    </head>
    <body>
        <h1 style="padding-top: 15px;">Hei, hvor har du lyst til å reise?</h1>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <br />

        <div>
        @if (TempData["Bestilt"] != null)
        {
            var value = ((TempData["Bestilt"] != null).ToString().ToLower());
            if (value == "true")
            {
                <p class="alert alert-success">Din reise ble suksessfult <b>bestilt</b>!</p>
            }
        }
        </div>

        <form id="bestillingsSkjema" action="/Bestilling/regBestilling" method="post" onsubmit="return validering()">
            <table class="borderless">
                <tr>
                    <td width="20%">
                        <b>Reise fra</b>
                        <select name="fraLokasjon" id="dropForste" class="form-control">
                            <option value="" disabled selected>-- Velg Utreise --</option>
                        </select>
                        <span id="forsteAvgangValidering"></span>
                    </td>
                    <td width="20%">
                        <b>Reise til</b>
                        <select name="tilLokasjon" id="dropSiste" class="form-control">
                            <option value="" disabled selected>-- Velg retur --</option>
                        </select>
                        <span id="sisteAvgangValidering"></span>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <br />
                        <b>Type billett</b><br />
                        <input type="radio" name="billettType" id="enVei" value="En vei" checked> En vei<br>
                        <input type="radio" name="billettType" id="turRetur" value="Tur retur"> Tur/Retur
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <br />
                        <b>Utreise</b>
                        <br />
                        <input type="date" id="datoUtreise" name="utreiseDato" class="form-control">
                        <span id="datoValidering"></span>
                    </td>
                </tr>
                <tr id="retur">
                    <td width="20%">
                        <br />
                        <b>Retur</b>
                        <br />
                        <input type="date" id="datoRetur" name="returDato" class="form-control">
                        <span id="returDatoValidering"></span>
                    </td>
                </tr>

                <tr>
                    <td width="20%" name="reisende" id="reisende">
                        <br />
                        <b>Reisende </b>
                        <br />
                        <p> <input type="number" id="voksen" name="voksen" style="border: 0px; width: 2em" value="1" min="0" max="9" /> Voksen <a href="#" data-toggle="popover" data-content="Ordinær bilett for reisende over 18 år. <a href='https://www.vy.no/alt-om-reisen/tog/billetter'>Les mer her</a>">&#9432;</a> <br></p>
                        <p> <input type="number" id="barn0_5" name="barn0_5" style="border: 0px; width: 2em" value="0" min="0" max="9" /> Barn 0-5 år <a href="#" data-toggle="popover" data-content="Barn under 6 år reiser gratis med tog, og får 90 prosent rabatt på bussbilletter. <a href='https://www.vy.no/alt-om-reisen/tog/billetter/rabatter'>Les mer her</a>">&#9432;</a><br></p>
                        <p> <input type="number" id="student" name="student" style="border: 0px; width: 2em" value="0" min="0" max="9" /> Student <a href="#" data-toggle="popover" data-content="Studenter får 25 prosent rabatt på togbilletter. På buss får studenter samme rabatt som ungdom uavhengig av alder. Rabattene forutsetter legitimasjon og bekreftelse for betalt semesteravgift. <a href='https://www.vy.no/alt-om-reisen/tog/billetter/rabatter'>Les mer her</a>">&#9432;</a><br> </p>
                        <p> <input type="number" id="honnoer" name="honnoer" style="border: 0px; width: 2em" value="0" min="0" max="9" /> Honnør <a href="#" data-toggle="popover" data-content="Reisende som er over 67 år, uføretrygdet eller ledsager for blind, får 50 prosent rabatt på togbilletter og en rabatt på bussbilletter. <a href='https://www.vy.no/alt-om-reisen/tog/billetter/rabatter'>Les mer her</a>">&#9432;</a><br> </p>
                        <p> <input type="number" id="vernepliktig" name="vernepliktig" style="border: 0px; width: 2em" value="0" min="0" max="9" /> Vernepliktig <a href="#" data-toggle="popover" data-content="Vernepliktige får 90 prosent rabatt på togbilletter. Rabatten forutsetter gyldig vernepliktskort ved billettkontroll. For buss gjelder rabatten kun på strekningen Oslo-Elverum. Denne billetten kjøpes på nettbuss.no med kampanjekoden UNIFORM. <a href='https://www.vy.no/alt-om-reisen/tog/billetter/rabatter'>Les mer her</a>">&#9432;</a><br> </p>
                        <p> <input type="number" id="barn6_17" name="barn6_17" style="border: 0px; width: 2em" value="0" min="0" max="9" /> Barn 6-17 år <a href="#" data-toggle="popover" data-content="Barn fra 6 til og med 17 år får 50 prosent rabatt på togbilletter og en rabatt på bussbilletter. <a href='https://www.vy.no/alt-om-reisen/tog/billetter/rabatter'>Les mer her</a>">&#9432;</a><br> </p>
                        <span id="billettValidering"></span>
                    </td>
                </tr>
            </table>
            <br />

            <a id="visSpesielleBehov" style="color: #5cb85c;"> <b> Spesielle behov</b>  <img src="~/Content/Images/spesiellebehov.png" /></a> <br />
            <span id="visInputboxer">
                <input type="number" id="barnevogn" name="barnevogn" style="border: 0px; width: 2em" value="0" min="0" max="9"> Barnevogn <a href="#" data-toggle="popover" data-content="Det er gratis å ta med barnevogn på tog og buss, forutsatt at det er nok plass. Det er barnevognplasser i alle tog. For tog med plassreservering, må du bestille plass på forhånd. <a href='https://www.vy.no/alt-om-reisen/tog/praktisk-informasjon/sykkel-pa-toget'>Les mer her</a>">&#9432;</a><br>
                <input type="number" id="sykkel" name="sykkel" style="border: 0px; width: 2em" value="0" min="0" max="9"> Sykkel <a href="#" data-toggle="popover" data-content="Du må reservere plass til sykkel på alle lange regionstrekninger og på Gjøvikbanen. Skal du ha med sykkelvogn på toget, må du bestille plass via kundesenteret. Sykkelplass på buss må du forhåndsbestille når du kjøper billett på nettbuss.no. <a href='https://www.vy.no/alt-om-reisen/tog/praktisk-informasjon/sykkel-pa-toget'>Les mer her</a>">&#9432;</a><br />
                <input type="number" id="hundover_40cm" name="hundover_40cm" style="border: 0px; width: 2em" value="0" min="0" max="9"> Hund over 40cm <a href="#" data-toggle="popover" data-content="Hunder med skulderhøyde over 40 cm får 50 prosent rabatt på togbilletter. På buss er dyr kun tillatt på strekningene NX1 Notodden-Oslo, NX3 Sarpsborg-Oslo og NX6 Hvaler-Oslo. <a href='https://www.vy.no/kundeservice/sporsmal-og-svar/bagasje-og-spesielle-behov'>Les mer her</a>">&#9432;</a><br>
                <input type="number" id="kjaeledyrunder_40cm" name="kjaeledyrunder_40cm" style="border: 0px; width: 2em" value="0" min="0" max="9"> Kjæledyr under 40 cm <a href="#" data-toggle="popover" data-content="Kjæledyr med skulderhøyde under 40 cm reiser gratis med toget. På buss er dyr kun tillatt på strekningene NX1 Notodden-Oslo, NX3 Sarpsborg-Oslo og NX6 Hvaler-Oslo. <a href='https://www.vy.no/kundeservice/sporsmal-og-svar/bagasje-og-spesielle-behov'>Les mer her</a>">&#9432;</a><br>
                <br />
                <span><b>Rullestol på tog - </b>Alle nyere tog er tilrettelagt for rullestolbrukere. Vennligst kjøp billett via kundesenteret.</span> <br />
                <span><b>Rullestol på buss - </b>Reisende med nedsatt funksjonsevne har rett til å reise med Nettbuss så langt det er praktisk mulig. Vennligst kjøp billett på bussen.</span>
            </span>
            <br />

            <h4> <u> <b>Reisen du har valgt:</b> </u> </h4>

            <span id="visLokasjoner"> <b><span id="visInfoForste"></span></b> <img src="~/Content/Images/ArrowForwardBlack.png" /> <b><span id="visInfoSiste"></span></b><br /> </span> <br />

            Utreisedato:<b> <span id="utreiseDatoUt"></span> </b> <br />
            <span id="visReturDato">Returdato: <b> <span id="returDatoUt"></span> </b> <br /> </span>
            Totalt reisende: <span id="numberTotaltReisende"></span> <span id="numberVoksen"></span><span id="numberSmåbarn"></span><span id="numberStudent"></span><span id="numberHonnoer"></span><span id="numberVernepliktig"></span> <span id="numberBarn"></span><br />
            <span id="visSpesialBehov"> Spesialbehov: <span id="numberBarnevogn"></span> <span id="numberSykkel"></span><span id="numberHund"></span><span id="numberKjaele"></span> <br /> </span>
            <br />

            <input type="submit" value="Se avganger" name="regBestilling" id="regBestilling" class="btn btn-success" />

            <!-- For tilbakeknapp om man er logget inn -->
            @{
                if (Session["LoggetInn"] != null)
                {
                    bool loggetInn = (bool)Session["LoggetInn"];
                    if (loggetInn)
                    {
                        <input type="submit" value="Tilbake til kontrollpanel" formaction="/Bruker/Kontrollpanel" class="btn btn-primary" />
                    }
                }
            }
        </form>
    </body>

<script>
    // For en vei- og returdatoer (vise/skjule)
    $(document).ready(function () {
        $("#retur").hide();
        $("#visReturDato").hide();
        $("#turRetur").click(function () {
            $("#retur").show();
            $("#visReturDato").show();
        });
        $("#enVei").click(function () {
            $("#retur").hide();
            $("#visReturDato").hide();
        });
    });

    // Vise/skjule "Spesialbehov:" nederst på bestillingskjema
    $(document).ready(function () {
        $("#visSpesialBehov").hide();
        // Barnevogn 
        $("#barnevogn").on('change', function () {
            $("#visSpesialBehov").show();
        });
        // Sykkel
        $("#sykkel").on('change', function () {
            $("#visSpesialBehov").show();
        });
        // Hund over 40 cm
        $("#hundover_40cm").on('change', function () {
            $("#visSpesialBehov").show();
        });
        // Kjæledyr under 40 cm
        $("#kjaeledyrunder_40cm").on('change', function () {
            $("#visSpesialBehov").show();
        });
    });

    // For informasjonsbokser i "spesielle behov"
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({ html: true });
    });


    //Script for å skrive ut utreise- og returdato
    // Utreise
    document.getElementById("datoUtreise").addEventListener("change", function () {
        var input = this.value;
        utStrengDatoUtreise = " " + input;
        $("#utreiseDatoUt").text(utStrengDatoUtreise);
    });
    // Retur
    document.getElementById("datoRetur").addEventListener("change", function () {
        var input = this.value;
        utStrengDatoUtreise = " " + input;
        $("#returDatoUt").text(utStrengDatoUtreise);
    });

    // Script for å skrive ut antall spesialbehov av hvert spesialbehov
    $(':input').on('keyup mouseup', function () {
       // Barnevogn
       var utStrengBarnevogn = "";
       utStrengBarnevogn += " " + $('#barnevogn').val();
       if ($('#barnevogn').val() == 1) {
           utStrengBarnevogn += " barnevogn";
       } else if ($('#barnevogn').val() > 1) {
           utStrengBarnevogn += " barnevogner";
       } else {
           utStrengBarnevogn = "";
       }
       $("#numberBarnevogn").text(utStrengBarnevogn);

       // Sykkel
       var utStrengSykkel = "";
       utStrengSykkel += " " + $('#sykkel').val();
       if ($('#sykkel').val() == 1) {
           utStrengSykkel += " sykkel";
       } else if ($('#sykkel').val() > 1) {
           utStrengSykkel += " sykler";
       } else {
           utStrengSykkel = "";
       }
       $("#numberSykkel").text(utStrengSykkel);

       // Hund over 40 cm
       var utStrengHund = "";
       utStrengHund += " " + $('#hundover_40cm').val();
       if ($('#hundover_40cm').val() == 1) {
           utStrengHund += " hund over 40 cm";
       } else if ($('#hundover_40cm').val() > 1) {
           utStrengHund += " hunder over 40 cm";
       }
       else {
           utStrengHund = "";
       }
       $("#numberHund").text(utStrengHund);

       // Kjæledyr under 40cm
       var utStrengKjaele = "";
       utStrengKjaele += " " + $('#kjaeledyrunder_40cm').val();
        if ($('#kjaeledyrunder_40cm').val() >= 1) {
            utStrengKjaele += " kjæledyr under 40cm";
        } else {
           utStrengKjaele = "";
       }
       $("#numberKjaele").text(utStrengKjaele);
    }).trigger('mouseup');

    // Script for å skrive ut antall reisende av hver type reisende
    $(':input').on('keyup mouseup', function () {
        // Voksen
        var utStrengVoksen = "";
        utStrengVoksen += " " + $('#voksen').val();
        if ($('#voksen').val() == 1) {
            utStrengVoksen += " voksen";
        } else if ($('#voksen').val() > 1) {
            utStrengVoksen += " voksene";
        }
        else {
            utStrengVoksen = "";
        }
        $("#numberVoksen").text(utStrengVoksen);

        // Barn (0 til 5 år)
        var utStrengSmåbarn = "";
        utStrengSmåbarn += " " + $('#barn0_5').val();
        if ($('#barn0_5').val() >= 1) {
            utStrengSmåbarn += " barn (0-5 år)";
        } else {
            utStrengSmåbarn = "";
        }
        $("#numberSmåbarn").text(utStrengSmåbarn);

        // Student 
        var utStrengStudent = "";
        utStrengStudent += " " + $('#student').val();
        if ($('#student').val() == 1) {
            utStrengStudent += " student";
        } else if ($('#student').val() > 1) {
            utStrengStudent += " studenter";
        }
        else {
            utStrengStudent = "";
        }
        $("#numberStudent").text(utStrengStudent);

        // Honnør
        var utStrengHonnoer = "";
        utStrengHonnoer += " " + $('#honnoer').val();
        if ($('#honnoer').val() == 1) {
            utStrengHonnoer += " honnør";
        } else if ($('#honnoer').val() > 1) {
            utStrengHonnoer += " honnører";
        }
        else {
            utStrengHonnoer = "";
        }
        $("#numberHonnoer").text(utStrengHonnoer);

        // Vernepliktig
        var utStrengVernepliktig = "";
        utStrengVernepliktig += " " + $('#vernepliktig').val();
        if ($('#vernepliktig').val() == 1) {
            utStrengVernepliktig += " vernepliktig";
        } else if ($('#vernepliktig').val() > 1) {
            utStrengVernepliktig += " vernepliktige";
        }
        else {
            utStrengVernepliktig = "";
        }
        $("#numberVernepliktig").text(utStrengVernepliktig);

        // Barn (6 til 17 år)
        var utStrengBarn = "";
        utStrengBarn += " " + $('#barn6_17').val();
        if ($('#barn6_17').val() >= 1) {
            utStrengBarn += " barn (6-17 år)";
        } else {
            utStrengBarn = "";
        }
        $("#numberBarn").text(utStrengBarn);

        // Totalt reisende 
        var array = [$('#voksen'), $('#barn0_5'), $('#student'), $('#honnoer'), $('#vernepliktig'), $('#barn6_17')];
        var utStrengTotalt = 0;
        for (var i in array) {
            if (array[i].val() >= 1) {
                utStrengTotalt += parseInt(array[i].val());
            }
        }

        var utStrengTotaltReisende = utStrengTotalt;
        if (utStrengTotalt == 0) {
            utStrengTotaltReisende.hide();
        }
        $("#numberTotaltReisende").text(utStrengTotaltReisende + "→");
    }).trigger('mouseup');

    // Script for å vise / skjule spesielleBehov ved klikk (funker å vise, men ikke skjule dersom verdiene settes til 0 igjen)
    $("#visInputboxer").hide();
    var inputbox = document.getElementById('visInputboxer');
    $('#visSpesielleBehov').click(function () {
        if (window.getComputedStyle(inputbox).visibility == "hidden") {
            $("#visInputboxer").show();
            inputbox.style.visibility = "visible";
        } else {
            $("#visInputboxer").hide();
            inputbox.style.visibility = "hidden";
        }
    });
</script>



