
@{
    ViewBag.Title = "TestView";
}

<h2>TestView</h2>

<form id="bestillingsSkjema" action="/Bestilling/regBestilling2" method="post">
    <input type="submit" value="Se avganger" name="regBestilling" id="regBestilling" class="btn btn-success" />    
</form>
