
@{
    ViewBag.Title = "TestView";
}

<h2>TestView</h2>

<form action="/Bestilling/regAvgang" method="post" id="mainForm" name="mainForm">
    <input type="submit" value="Se avganger" name="bestill" class="btn btn-success" />
</form>