@model Oblig1WebApp.Models.Bestilling

<head>
    <script type="text/javascript">
        // Ajax
        $(function () {
            // Kaller på hentAlleAvgangerAvganger og bygger opp tabellRad når siden lastes
            $.ajax({
                url: '/Avgang/hentAlleVisAvganger',
                type: 'GET',
                dataType: 'json',
                success: function (jsVisAvgang) {
                    VisAvgang(jsVisAvgang);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });

            // Oppretter en hendelse på tabellraden når siden lastes
            $("#tabellRad").change(function () {
                var id = $(this).val();
                $.ajax({
                    url: '/Avgang/hentVisAvgangInfo/' + id,
                    type: 'GET',
                    dataType: 'json',
                    success: function (visAvgang) {
                        VisInfoAvgang(visAvgang);
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            });
        })
        
        // Setter forsteAvgang inn i select
        function VisAvgang(jsVisAvgang) {
            var utStreng = "";
            var velgKnapp = "<input type='submit' value='Velg' class='btn btn' />";
            for (var val in jsVisAvgang) {
                utStreng += "<tr id='tabellRad'>";
                utStreng += "<td value='" + jsVisAvgang[val].id + "'>" + jsVisAvgang[val].forsteAvgang + "</td>";
                utStreng += "<td>" + jsVisAvgang[val].sisteAvgang + "</td>";
                utStreng += "<td>" + jsVisAvgang[val].reiseTid + "</td>";
                utStreng += "<td>" + jsVisAvgang[val].spor + "</td>";
                utStreng += "<td>" + jsVisAvgang[val].togNummer + "</td>";
                utStreng += "<td>" + jsVisAvgang[val].avgangstid + "</td>";
                utStreng += velgKnapp;
                utStreng += "</tr>";
            }
            $("#tabellRad").append(utStreng);
        }

        /*
        // Viser forste avgang
        function VisInfoAvgang(visAvgang) {
            var utStrengForste = visAvgang.forsteAvgang;
            $("#visInfoAvgang").html(utStrengForste);
        }
        */
    </script>
</head>
<body>
    <h2>Avganger</h2>
    <form action="/Bestilling/Betaling" method="post">
        <table style="width:100%">
            <tr>
                <td>Første Avgang</td>
                <td>Siste Avgang</td>
                <td>Reisetid</td>
                <td>Spor</td>
                <td>Tognummer</td>
                <td>Avreisetid</td>
            </tr>
            <tr id="tabellRad">
            </tr>
        </table>
        <span id="visInfoAvgang"></span>
    </form>
</body>