@model Oblig1WebApp.Models.Bestilling

    <head>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link rel="icon" href="favicon.ico" type="image/ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="~/Scripts/jquery-1.8.0.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script type="text/javascript">
            // Ajax
            $(function () {
                // Kaller på hentAlleVisAvganger og bygger opp tabellRad når siden lastes
                $.ajax({
                    url: '/Avgang/hentAlleVisAvganger',
                    type: 'GET',
                    dataType: 'json',
                    success: function (jsVisAvgang) {
                        VisDropDownForste(jsVisAvgang);
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });

                // Oppretter en hendelse på tabellraden når siden lastes
                $("#dropForste").change(function () {
                    var id = $(this).val();
                    $.ajax({
                        url: '/Avgang/hentVisAvgangInfo/' + id,
                        type: 'GET',
                        dataType: 'json',
                        success: function (visAvgang) {
                            VisInfoForste(visAvgang);
                        },
                        error: function (x, y, z) {
                            alert(x + '\n' + y + '\n' + z);
                        }
                    });
                });
            })
            
            // Setter forsteAvgang inn i select
            function VisDropDownForste(jsVisAvgang) {
                var utStreng = "";
                //var velgKnapp = "<input type='submit' value='Velg' class='btn btn' />";
                for (var i in jsVisAvgang) {
                    /*
                    utStreng += "<tr id='tabellRad'>";
                    utStreng += "<td value='" + jsVisAvgang[val].id + "'>" + jsVisAvgang[val].forsteAvgang + "</td>";
                    utStreng += "<td>" + jsVisAvgang[val].sisteAvgang + "</td>";
                    utStreng += "<td>" + jsVisAvgang[val].reiseTid + "</td>";
                    utStreng += "<td>" + jsVisAvgang[val].spor + "</td>";
                    utStreng += "<td>" + jsVisAvgang[val].togNummer + "</td>";
                    utStreng += "<td>" + jsVisAvgang[val].avgangstid + "</td>";
                    utStreng += velgKnapp;
                    utStreng += "</tr>";
                    */

                    utStreng += "<option value='" + jsVisAvgang[i].id + "'>" + jsVisAvgang[i].forsteAvgang + " " + jsVisAvgang[i].sisteAvgang + " " + jsVisAvgang[i].reiseTid + " " + jsVisAvgang[i].spor + " " + jsVisAvgang[i].togNummer  + " " + jsVisAvgang[i].avgangstid + "</option>";
                }
                $("#dropForste").append(utStreng);
            }


            // Viser forste avgang
            function VisInfoForste(visAvgang) {
                var utStreng = visAvgang.forsteAvgang;
                $("#visInfoForste").html(utStreng);
            }

            // Ajax for siste avgang
            $(function () {
                // Kaller på hentAlleAvganger og bygger opp dropdown-liste når siden lastes
                $.ajax({
                    url: '/Avgang/hentAlleVisAvganger',
                    type: 'GET',
                    dataType: 'json',
                    success: function (jsVisAvgang) {
                        VisDropDownSiste(jsVisAvgang);
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });

                // Oppretter en hendelse på dropdown-listen når siden lastes
                $("#dropSiste").change(function () {
                    var id = $(this).val();
                    $.ajax({
                        url: '/Avgang/hentVisAvgangInfo/' + id,
                        type: 'GET',
                        dataType: 'json',
                        success: function (visAvgang) {
                            VisInfoSiste(visAvgang);
                        },
                        error: function (x, y, z) {
                            alert(x + '\n' + y + '\n' + z);
                        }
                    });
                });
            })

                // Setter sisteAvgang inn i select
                function VisDropDownSiste(jsVisAvgang) {
                    var utStreng = "";
                    for (var i in jsVisAvgang) {
                        utStreng += "<option value='" + jsVisAvgang[i].id + "'>" + jsVisAvgang[i].sisteAvgang + "</option>";
                    }
                    $("#dropSiste").append(utStreng);
            }

                // Viser siste avgang
                function VisInfoSiste(visAvgang) {
                    var utStreng = visAvgang.sisteAvgang;
                    $("#visInfoSiste").html(utStreng);
                }
        </script>
    </head>
    <body>
        <h2>Avganger</h2>
        <form action="/Bestilling/regBestilling" id="bestillingsSkjema" method="post">
            <table class="borderless">
                <tr>
                    <td width="20%">
                        <b>Reise fra</b>
                        <select name="fraLokasjon" id="dropForste" class="form-control" required>
                            <option value="" disabled selected>-- Velg Utreise --</option>
                        </select>
                    </td>
                    <td width="20%">
                        <b>Reise til</b>
                        <select name="tilLokasjon" id="dropSiste" class="form-control" required>
                            <option value="" disabled selected>-- Velg retur --</option>
                        </select>
                    </td>
                </tr>
            </table>
            <span id="visLokasjoner"> <b><span id="visInfoForste"></span></b><b><span id="visInfoSiste"></span></b><br /> </span>
        </form>
    </body>